<meta charset="UTF-8"> 
<html>
  <head>
    <link rel="stylesheet" href="product_style.css">
  </head>

  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="cart">
        <p>Cart({{ cart.length }})</p>
      </div>
      <product :premium="premium" :cart="cart" @update-cart="updateCart" />
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</html>